beautifulsoup4==4.8.2
bs4==0.0.1
camelot-py==0.7.3
Django==3.1.13
django-appconf==1.0.3
django-compressor==2.3
django-extensions==2.2.3
pandas==1.0.1
pdfminer.six==20200124
PyPDF2==1.26.0
requests==2.22.0
six==1.14.0
