@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

body {
  background-color: #001C22;
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}
h1 {
  background-color: #00313B;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

.card {
  border-radius: 12px;
  background-color: #00232A;
  box-shadow: 0px -9px 17px 7px rgba(0,0,0,0.11);
  -webkit-box-shadow: 0px -9px 17px 7px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px -9px 17px 7px rgba(0,0,0,0.11);
  margin: 1em 1em 1em 0;
  min-height: 250px;
  overflow: hidden;
  padding: 0 !important;
}
.card-content {
  padding: 1em;
  position: relative;
}
.card-title {
  background-color: #05272E;
  height: 32px;
  line-height: 1.7; /* Hacky way to vertical center */
  padding: 0.5em 1em;
}
.card-title h3 {
  margin: 0;
}
.center {
  text-align: center;
}
.date-container {
  padding: 2em;
}
.date-container span {
  font-size: 24px;
  font-weight: 500;
}
.date-picker {
  background-color: transparent;
  border-width: 0 0 2px;
  border-color: #00313B;
  color: white;
  font-size: 24px;
  margin-left: 0.5em;
  outline: 0;
  text-align: center;
}
.date-picker::placeholder {
  color: #7F9194;
}
.mt-3 { /** Margin-Top inspired by Bootstrap **/
  margin-top: 3em !important;
}

#center-button {
  border-radius: 50%;
  background-color: #305D93;
  bottom: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  left: 1em;
  height: 40px;
  position: absolute;
  width: 40px;
  z-index: 9999;
}
#center-button img {
  margin: 0 auto;
  width: 24px;
}
#map {
  height: 450px;
  margin: -1em;
  width: 105%;
}