{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Coronavirus. Mapa de México por estado</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/fluidable-min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/main.css' %}">
  </head>

  <body class="container">
    <h1>Coronavirus(Covid-19) en México 🦠</h1>

    <div class="col-group">
      <div class="card col-8">
        <div class="card-title"><h3>Mapa por estado</h3></div>
        <div id="map" class="map"></div>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
  <script type="module" src="{% static 'tracker/main.js' %}"></script>
</html>