{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Coronavirus. Mapa de México por estado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/fluidable-min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/main.css' %}">
  </head>

  <body>
    <h1>Coronavirus(Covid-19) en México 🦠</h1>

    <div class="container">
      <div class="col-group">
        <div class="col-12 col-dt-8">
          <div class="card">
            <div class="card-title"><h3>Mapa por estado</h3></div>
            <div class="card-content">
              <div id="center-button"><img src="{% static 'tracker/images/center_icon.png' %}"></div>
              <div id="map" class="map"></div>
            </div>
          </div>
        </div>
        <div class="col-6 col-dt-4">
          <div class="card">
            <div class="card-title"><h3>Total del país</h3></div>
            <div class="card-content">
              <div id="chart2"></div>
            </div>
          </div>
        </div>
        <!-- <div class="col-6 col-dt-4">
          <div class="card">
            <div class="card-title"><h3>Tweets</h3></div>
            <div class="card-content">
              <div id="chart3"></div>
            </div>
          </div>
        </div> -->
        <div class="col-6 col-dt-12">
          <div class="card">
            <div class="card-title"><h3>Casos por estado</h3></div>
            <div class="card-content">
              <div id="chart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
  <script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script type="module" src="{% static 'tracker/main.js' %}"></script>

  <!-- TODO: Fetch data with API and not like this >.<  -->
  <script type="text/javascript">
  console.log({{total_confirmed}}, {{total_healed}})

  var donutOptions = {
        series: [{{total_confirmed}}, {{total_healed}}],
        chart: {
          type: "donut"
        },
        labels: ["Confirmados", "Recuperados"],
        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: "bottom"
              }
            }
          }
        ]
      };

  var chart2 = new ApexCharts(document.querySelector('#chart2'), donutOptions);
  chart2.render();
  </script>

</html>