{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Coronavirus. Mapa de México por estado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/fluidable-min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/main.css' %}">
  </head>

  <body>
    <h1>Coronavirus(Covid-19) en México 🦠</h1>

    <div class="container">
      <div class="col-group mt-3">
        <div class="col-12 col-dt-8">
          <div class="card">
            <div class="card-title"><h3>Mapa por estado</h3></div>
            <div class="card-content">
              <div id="center-button"><img src="{% static 'tracker/images/center_icon.png' %}"></div>
              <div id="map" class="map"></div>
            </div>
          </div>
        </div>
        <div class="col-6 col-dt-4">
          <div class="card">
            <div class="card-title"><h3>Total del país</h3></div>
            <div class="card-content">
              <div id="chart2"></div>
            </div>
          </div>
        </div>
        <!-- <div class="col-6 col-dt-4">
          <div class="card">
            <div class="card-title"><h3>Tweets</h3></div>
            <div class="card-content">
              <div id="chart3"></div>
            </div>
          </div>
        </div> -->
        <div class="col-6 col-dt-12">
          <div class="card">
            <div class="card-title"><h3>Casos por estado</h3></div>
            <div class="card-content">
              <div id="chart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
  <script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script type="module" src="{% static 'tracker/main.js' %}"></script>

  <!-- TODO: Fetch data with API and not like this >.<  -->
  <script type="text/javascript">
    /**
     * Chart - TOTAL DEL PAIS
     */
    var donutOptions = {
      series: [{{total_confirmed}}, {{total_suspected}}, {{total_healed}},],
      theme: {
        mode: 'dark'
      },
      chart: {
        type: "donut",
        background: '#00232A',
        width: '100%',
      },
      colors: ['#FF4560', '#FFCD01', '#00E396'],
      labels: ["Confirmados", "Sospechosos", "Recuperados"],
      legend: {
        fontSize: '16px',
        position: 'bottom',
        horizontalAlign: 'center',
        floating: false,
      },
      responsive: [
        {
          breakpoint: 400,
          options: {
            legend: {
              show: false
            }
          }
        }
      ]
    };

    var chart2 = new ApexCharts(document.querySelector('#chart2'), donutOptions);
    chart2.render();

    var t = JSON.parse("{{ states|escapejs }}");
    console.log(t);

    /**
     * Chart - CASOS POR ESTADO
     */
    var options = {
      theme: {
        mode: 'dark',
        palette: 'palette1'
      },
      series: [
        {
          name: "Confirmados",
          data: [44, 1, 41, 37, 22, 43, 21]
        },
        {
          name: "Sospechosos",
          data: [53, 32, 33, 52, 13, 43, 32]
        },
      ],
      chart: {
        type: "bar",
        background: '#00232A',
        width: '100%',
        height: 350,
        stacked: true,
        toolbar: {
          show: false
        }
      },
      plotOptions: {
        bar: {
          horizontal: true
        }
      },
      stroke: {
        width: 1,
        colors: ["#fff"]
      },
      xaxis: {
        categories: ['CMDX', 'CMDX', 'CMDX', 'CMDX', 'CMDX', 'CMDX', 'CMDX', 'CMDX']
      },
      yaxis: {
        title: {
          text: undefined
        }
      },
      tooltip: {
        y: {
          formatter: function(val) {
            return val + "K";
          }
        }
      },
      fill: {
        opacity: 1
      },
      legend: {
        position: "top",
        horizontalAlign: "left",
        offsetX: 40
      }
    };

    var chart = new ApexCharts(document.querySelector('#chart'), options);
    chart.render();
  </script>

</html>